<div class="footer">
    <p>Desarrollado por 
        <a href="https://github.com/DiegoPardoMontero">Diego Pardo Montero</a>
    </p>
    <div class="social-bar">
        <a href="https://github.com/tuUsuario" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/tuUsuario" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        <a href="mailto:tuemail@gmail.com" class="social-icon"><i class="fas fa-envelope"></i></a>
        <a href="https://instagram.com/tuUsuario" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
</div>